@font-face {
  font-family: "blueberryreg";
  src: url("/assets/fonts/BlueberrySans-Regular.otf");
}

@font-face {
  font-family: "blueberrylight";
  src: url("/assets/fonts/BlueberrySans-Light.otf");
}

@font-face {
  font-family: "blueberrymd";
  src: url("/assets/fonts/BlueberrySans-Medium.otf");
}

@font-face {
  font-family: "blueberry";
  src: url("/assets/fonts/BlueberrySans-Bold.otf");
}

@font-face {
  font-family: "blueberryextrabold";
  src: url("/assets/fonts/BlueberrySans-ExtraBold.otf");
}

@font-face {
  font-family: "blueberryblack";
  src: url("/assets/fonts/BlueberrySans-Black.otf");
}