@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.sidebar{
  width: 20%;
  height: 100%;
}
.sidebar-item a:hover{
background-color: #009d6c;
cursor: pointer;
color: white;
}
.footer{
  background-color: white;
}
.nav-item{
  flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.footer-nav{
  box-shadow: inset 0px 11px 8px -10px #CCC;
}
.mybackground{
  background-image: url(/assets/img/silhouette-young-fitness-man-running-sunrise.jpg);
  background-size: cover;
}
.content{
  overflow: scroll;
  width: 80%;
}
@media screen and (max-width: 992px) {
  .content{
    width: 100%;
  }
}
.container-card-audiobook{
  width: 100%;
}
.container-card-audiobook-sm{
  overflow: scroll hidden;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.container-card-audiobook-grid{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 15px;
    justify-content: left;
    padding: 0px 20px;
    width: 100%;
    overflow: scroll hidden
}

.container-card-audiobook-sm::-webkit-scrollbar{
  display: none;
}
.card-audiobook{
  display: flex;
  margin: 1rem;
  /* overflow: scroll hidden; */
  width: fit-content;
}
.card-audiobook a {
  padding: 15px;
  border-radius: 10px;
}
.card-audiobook a:hover {
  background-color: #009d6c;;
  cursor: pointer;
  color: white;
}
.card-audiobook-title{
  font-weight: 700;
  width: 140px;

}
.card-audiobook-caption{
  display: flex;
  flex-direction: column;
}
.card-audiobook-desc{
  font-weight: 200;
}
.card-audiobook-image{
  height: 60%;
  width: 100%;
  border-radius: 5px;
}
.section-name-audiobook{
  font-size: 20px;
}
.card-audiobook-grid-flex{
  display: flex;
  font-weight: 700;
  width: 200px;
}